/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* Color
1st #292A27

2nd #0D0E0D

3rd #0d0e0d

4th #2099eb
*/

/* General */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
  overflow: hidden;
}

body {
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 6rem;
  max-width: 46rem;
}

/* Main Styles */

.screen-box {
  width: 100%;
  height: 20rem;
  background-color: #0d0e0d;
  padding: 1.2rem 1.2rem;
  position: relative;
}

.screen-output {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.2rem;
  margin-bottom: 2.4rem;
  margin-right: 1.6rem;
}

.numpad-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 2.2rem;
  row-gap: 2.2rem;
  background-color: #20201fbe;
  padding: 1.6rem 2.4rem;
}

.numpad-btn {
  font-size: 2.5rem;
  padding: 1rem 1rem;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}

.numpad-operator--btn {
  color: #3a6d8c;
}
.back-btn {
  color: #3a6d8c;
  padding: 1rem 1rem;
}

.numpad-btn:hover,
.numpad-btn:active {
  background-color: rgba(41, 76, 98, 0.3);
}

.numpad-operator--btn:hover,
.numpad-operator--btn:active {
  color: #4e7c98;
}
